@charset "utf-8";

// 設定用
@import "scss/setting";

.parallax1 {
  left: 60px;
  position: fixed;
  top: 200px;
  width: 200px;
  z-index: -1;
}

.parallax2 {
  position: fixed;
  left: 250px;
  top: 200px;
  width: 200px;
  z-index: -1;
}
.parallax3 {
  position: fixed;
  left: 460px;
  top: 200px;
  width: 200px;
  z-index: -1;
}
.inner {
  margin-top: 100px;
  height: 320vh;
}

h2 {
  font-size: 26px;
  font-weight: bold;
  margin-left: 200px;
}
